@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #5B5B5B;
	font-family: 'Open Sans', sans-serif;
}

div.container {
  @include outer-container;
}

div.center {
  @include span-columns(6);
  @include shift(2);
  background-color: #E7E7E7;
  div.left {
    @include span-columns(3 of 6);
    font-size: 14px;
    padding-left: 20px;
  }
  border-style: solid;
  border-width: 0px;
  border-color: #FB5F55;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 128px;
	color: #F45C4D;
}