@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Cabin);

body {
	font-family: 'Cabin', sans-serif;
}

div.container {
	@include outer-container;
}

div.top {
	display: block;
	background-color: #F0F0F0;
	height: 250px;
}

div.headerImage{
		@include span-columns(10);
		position: relative;
		max-height: 100%;
		max-width: 100%;
		top: -200px;
	}

div.center {
	@include span-columns(6);
	@include shift(2);
	position: relative;
	top: -175px;
	margin-bottom: -175px;
	background-color: #FFFFFF;
	div.centerText{
		@include span-columns(6 of 6);
	}
	div.row {
		@include span-columns(6 of 6);
		margin-top: 20px;
		margin-bottom: 20px;
		div.left {
			@include span-columns(3 of 6);
			color: #FB5F55;
		}
		div.right {
			@include span-columns(3 of 6);
		}
	}

}

.bigHeader {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 100%;
	max-height: 100%;
	-webkit-box-shadow: -3px 4px 30px rgba(50, 50, 50, 1);
	-moz-box-shadow:    -3px 4px 30px rgba(50, 50, 50, 1);
	box-shadow:         -3px 4px 30px rgba(50, 50, 50, 1);
}

.circle {
	position: relative;
	top: 7px;
	display: inline;
}

hr {
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}


h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	color: #0062AD;
}

h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	color: #919191;
	position: relative;
	top: 5px;
}

h3 {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #0062AD;
}

a:link {color:#FB5F55;}      
a:visited {color:#FB5F55;} 
a:hover {color:#FB5F55;} 

p{text-align:justify;}