@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif; }

div.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.container:before, div.container:after {
    content: " ";
    display: table; }
  div.container:after {
    clear: both; }

div.center {
  display: block;
  float: left;
  margin-right: 2.5641%;
  width: 58.97436%;
  margin-left: 20.51282%;
  background-color: #FFFFFF; }
  div.center:last-child {
    margin-right: 0; }
  div.center div.row {
    display: block;
    float: left;
    margin-right: 4.34783%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }
    div.center div.row:last-child {
      margin-right: 0; }
    div.center div.row div.left {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 47.82609%;
      font-size: 16px;
      color: #FB5F55; }
      div.center div.row div.left:last-child {
        margin-right: 0; }
    div.center div.row div.right {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 47.82609%;
      font-size: 16px; }
      div.center div.row div.right:last-child {
        margin-right: 0; }

img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%; }

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff; }

div.footer {
  display: block;
  float: left;
  margin-right: 2.5641%;
  width: 58.97436%;
  margin-left: 20.51282%;
  margin-top: 20px;
  font-size: 11px; }
  div.footer:last-child {
    margin-right: 0; }

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 128px;
  color: #F45C4D; }

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #F45C4D; }
