@import url(http://fonts.googleapis.com/css?family=Cabin);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Cabin', sans-serif; }

div.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.container:before, div.container:after {
    content: " ";
    display: table; }
  div.container:after {
    clear: both; }

div.top {
  display: block;
  background-color: #F0F0F0;
  height: 250px; }

div.bot {
  display: block;
  background-color: #032032;
  height: 60px;
  color: #FFFFFF;
  padding-top: 20px;
  font-size: 12px; }

div.headerImage {
  display: block;
  float: left;
  margin-right: 8.33333%;
  width: 100%;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  top: -200px; }
  div.headerImage:last-child {
    margin-right: 0; }

div.center {
  display: block;
  float: left;
  margin-right: 8.33333%;
  width: 56.66667%;
  margin-left: 21.66667%;
  position: relative;
  top: -175px;
  margin-bottom: -100px;
  background-color: #FFFFFF; }
  div.center:last-child {
    margin-right: 0; }
  div.center div.centerText {
    display: block;
    float: left;
    margin-right: 14.70588%;
    width: 100%; }
    div.center div.centerText:last-child {
      margin-right: 0; }
  div.center div.row {
    display: block;
    float: left;
    margin-right: 14.70588%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }
    div.center div.row:last-child {
      margin-right: 0; }
    div.center div.row div.left {
      display: block;
      float: left;
      margin-right: 14.70588%;
      width: 23.52941%;
      color: #FB5F55; }
      div.center div.row div.left:last-child {
        margin-right: 0; }
    div.center div.row div.right {
      display: block;
      float: left;
      margin-right: 14.70588%;
      width: 61.76471%; }
      div.center div.row div.right:last-child {
        margin-right: 0; }

.bigHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: -3px 4px 30px #323232;
  -moz-box-shadow: -3px 4px 30px #323232;
  box-shadow: -3px 4px 30px #323232; }

.circle {
  position: relative;
  top: 7px;
  display: inline; }

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff; }

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: #0062AD; }

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  color: #919191;
  position: relative;
  top: 5px; }

.buttonHeader {
  position: relative;
  top: 13px; }

.buttonText {
  top: 10px;
  display: inline; }

h3 {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #0062AD; }

a:link {
  color: #FFFFFF; }

a:visited {
  color: #FFFFFF; }

a:hover {
  color: #FFFFFF; }

p {
  text-align: justify; }

.button {
  border-top: 1px solid #0084cb;
  background: #006dba;
  background: -webkit-gradient(linear, left top, left bottom, from(#0084cb), to(#006dba));
  background: -webkit-linear-gradient(top, #0084cb, #006dba);
  background: -moz-linear-gradient(top, #0084cb, #006dba);
  background: -ms-linear-gradient(top, #0084cb, #006dba);
  background: -o-linear-gradient(top, #0084cb, #006dba);
  padding: 8.5px 17px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 12px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle; }

.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc; }

.button:active {
  border-top-color: #1b435e;
  background: #1b435e; }
